# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist